@model PatronageServiceDataControlSystem.Талон_ухода_за_клиентом

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <h4>Талон ухода за клиентом</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Клиент.Фамилия_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Клиент.Фамилия_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сотрудник.Фамилия_сотрудника)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сотрудник.Фамилия_сотрудника)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Услуга.Название_услуги)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Услуга.Название_услуги)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_начала_обслуживания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_начала_обслуживания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_окончания_обслуживания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_окончания_обслуживания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Схема_мероприятий)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Схема_мероприятий)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Медицинские_показания)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Медицинские_показания)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Сумма_к_оплате)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Сумма_к_оплате)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Скидка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Скидка)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID_талона }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
