@model PatronageServiceDataControlSystem.Услуга

@{
    ViewBag.Title = "Редактирование сведений об услуге";
}

<h2>Редактирование сведений об услуге</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Услуга</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_услуги)

        <div class="form-group">
            @Html.LabelFor(model => model.Название_услуги, "Название услуги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Название_услуги, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Название_услуги, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Описание_услуги, "Описание услуги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Описание_услуги, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Описание_услуги, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Цена_услуги, "Цена услуги", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Цена_услуги, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Цена_услуги, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Максимальная_скидка, "Максимальная скидка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Максимальная_скидка, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Максимальная_скидка, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
