@model IEnumerable<PatronageServiceDataControlSystem.Услуга>

@{
    ViewBag.Title = "Фильтрация данных для отображения";
}

<h2>Фильтр отображения данных</h2>
<p>
    @Html.ActionLink("Вернуться к списку", "Index")
</p>

<form method="get">
    <div class="form-inline form-group">        
        <label class="control-label">Цена услуги, начиная от: </label>
        @Html.TextBox("CostMin", null, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">до: </label>
        @Html.TextBox("CostMax", null, htmlAttributes: new { @class = "form-control" })
        <br /> <br />
        <label class="control-label">Максимальный размер скидки, начиная от: </label>
        @Html.TextBox("DiscountMin", null, htmlAttributes: new { @class = "form-control" })
        <label class="control-label">до: </label>
        @Html.TextBox("DiscountMax", null, htmlAttributes: new { @class = "form-control" })
        <br /> <br />
        <input type="submit" value="Фильтрация" class="btn btn-default" />
    </div>
</form>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Название_услуги)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Описание_услуги)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Цена_услуги)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Максимальная_скидка)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название_услуги)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Описание_услуги)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Цена_услуги)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Максимальная_скидка)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.ID_услуги }) |
                @Html.ActionLink("Подробно", "Details", new { id = item.ID_услуги }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.ID_услуги })
            </td>
        </tr>
    }

</table>
