@model PatronageServiceDataControlSystem.Клиент

@{
    ViewBag.Title = "Удаление клиента";
}

<h2>Удаление клиента</h2>

<h3>Вы действительно хотите удалить запись?</h3>
<div>
    <h4>Клиент</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Фамилия_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Фамилия_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Имя_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Имя_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Пол_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Пол_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Дата_рождения_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Дата_рождения_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Адрес_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Телефон_клиента)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Телефон_клиента)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Заболевание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Заболевание)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Категория_инвалидности)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Категория_инвалидности)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Постоянный_уход)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Постоянный_уход)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
