@model PatronageServiceDataControlSystem.Клиент

@{
    ViewBag.Title = "Редактирование сведений о клиенте";
}

<h2>Редактирование сведений о клиенте</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Клиент</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_клиента)

        <div class="form-group">
            @Html.LabelFor(model => model.Фамилия_клиента, "Фамилия клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Фамилия_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Фамилия_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Имя_клиента, "Имя клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Имя_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Имя_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Пол_клиента, "Пол клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Пол_клиента", null, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Пол_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_рождения_клиента, "Дата рождения клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Дата_рождения_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Дата_рождения_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Адрес_клиента, "Адрес клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Адрес_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Адрес_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Телефон_клиента, "Телефон клиента", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Телефон_клиента, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Телефон_клиента, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Заболевание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Заболевание, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Заболевание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Категория_инвалидности, "Категория инвалидности", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Категория_инвалидности, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Категория_инвалидности, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Постоянный_уход, "Постоянный уход", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Постоянный_уход)
                    @Html.ValidationMessageFor(model => model.Постоянный_уход, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
