@model IEnumerable<PatronageServiceDataControlSystem.Клиент>

@{
    ViewBag.Title = "Клиенты";
}

<h2>Список клиентов</h2>

<p>
    @Html.ActionLink("Новый клиент", "Create")
    <text>|</text>
    @Html.ActionLink("Фильтрация", "Filter")
    <text>|</text>
    @Html.ActionLink("Поиск", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Фамилия_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Имя_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Пол_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Дата_рождения_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Адрес_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Телефон_клиента)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Заболевание)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Категория_инвалидности)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Постоянный_уход)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Фамилия_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Имя_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Пол_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_рождения_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Адрес_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Телефон_клиента)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Заболевание)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Категория_инвалидности)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Постоянный_уход)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.ID_клиента }) |
            @Html.ActionLink("Подробно", "Details", new { id=item.ID_клиента }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.ID_клиента })
        </td>
    </tr>
}

</table>
